body {
  background-image: url('/images/mochaGrunge.png');
  /* margin-top: 20px; */
  margin-bottom: 40px;
}

.content {
  max-width: 800px;
  padding: 30px;
  margin: 0 auto;
  border: 1.7px solid: #e5e5e5;
  position: relative;
  background-color: #fff;
}

.form-signin {
  max-width: 400px;
  padding: 30px;
  margin: 0 auto;
  border: 1.7px solid: #e5e5e5;
  position: relative;
  background-color: #fff;
}

.form-signin .form-control:focus {
  /*z-index: 2;*/
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 10px;
}

.btn-login {
  margin-top: 10px;
}

.form-signin-heading {
  margin-bottom: 20px;
}

.jumbotron {
  background-color: #fff;
}

span.forgot-password {
  display: block;
  text-align: right;
  margin-bottom: -10px;
}
