body {
    background-color: #eee;
    margin-top: 40px;
    margin-bottom: 40px;
}

.form-signin {
    max-width: 360px;
    padding: 30px;
    margin: 0 auto;
    border: 1.7px solid #e5e5e5;
    position: relative;
    background-color: #fff;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

.input-email {
    margin-bottom: 6px;
}

hr {
    background-color: black;
}
