{% extends "../layouts/default.html" %}

{% block content %}
  <div class='form-signin'>
    <form role='form' action='/recovery' method='POST'>
      <h1 class='form-signin-heading'><i class='fa fa-lock'></i> Recuperar senha</h1>

      <!-- show any messages that come back with authentication -->
      {% if message.length %}
        <div class="alert alert-danger">{{ message }}</div>
      {% endif %}

      <div class='form-group'>
        <div class='input-group'>
          <span class='input-group-addon'><i class='fa fa-envelope-o fa-fw'></i></span>
          <input class='form-control' type='email' name='email' placeholder='Email' autofocus>
        </div>
      </div>

      <button type='submit' class='btn btn-lg btn-primary btn-login'>Enviar</button>
    </form>

    <hr>

    <p>Precisa de uma conta? <a href='/signup'>Inscreva-se</a></p>
    <p>Ou volte para a <a href='/'>página inicial</a></p>
  </div>
{% endblock %}
