<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title><%= user.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Nome: <%= user.name %></h1>
    <p>Idade: <%= user.age %></p>
    <p>Fone: <%= user.fone %></p>
  </body>
</html>