<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title><%= usuario %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= usuario %></h1>
    <p>Seja bem-vindo.</p>
  </body>
</html>