doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title O titulo é esse #{titulo}
    link(rel="stylesheet", href="css/build.css")
  body
    .container
      block content
      script(src="js/production.min.js")
