doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    title O titulo é esse #{titulo}
    link(rel="stylesheet", href="/stylesheets/bootstrap/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="/javascripts/jquery/jquery.min.js")
    script(src="/javascripts/bootstrap/bootstrap.min.js")
